@model ShopTARge24.Models.RealEstate.RealEstateCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group">
            <label asp-for="Area" class="control-label"></label>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="RoomNumber" class="control-label"></label>
            <input asp-for="RoomNumber" class="form-control" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BuildingType" class="control-label"></label>
            <input asp-for="BuildingType" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Files" class="control-label"></label>
            <input class="form-control" asp-for="Files" multiple type="file" />
        </div>

        @if (Model.Images != null && Model.Images.Any())
        {
            <div class="d-flex flex-column gap-3">
                @foreach (var images in Model.Images)
                {
                    <div class="image-row position-relative">
                        <div class="image-preview">
                            <partial name="_Images" model="images" />
                        </div>
                        <form asp-action="removeImage" asp-controller="realEstate" asp-route-imageId="@images.ImageId" method="post" class="m-0 remove-btn-form">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Remove image
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

        <div class="mt-4 d-flex gap-2">
            @if (Model.Id.HasValue)
            {
                <button asp-action="update" asp-controller="realEstate" type="submit" class="btn btn-primary">
                    Update
                </button>
            }
            else
            {
                <button asp-action="create" asp-controller="realEstate" type="submit" class="btn btn-primary">
                    Create
                </button>
            }

            <a asp-action="Index" asp-controller="realEstate" class="btn btn-success">
                Back
            </a>
        </div>
    </form>
</div>

<style>
    .image-row {
        display: inline-block;
        padding-left: 110px;
    }

    .remove-btn-form {
        position: absolute;
        left: 0;
        top: 32px;
    }
</style>