@model ShopTARge24.Models.RealEstate.RealEstateCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}


<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group">
            <label asp-for="Area" class="control-label"></label>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="RoomNumber" class="control-label"></label>
            <input asp-for="RoomNumber" class="form-control" />
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BuildingType" class="control-label"></label>
            <input asp-for="BuildingType" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Files" class="control-label"></label>
            <input class="form-control" asp-for="Files" multiple type="file" />
        </div>

        <div>
            @foreach (var images in Model.Images)
            {
                <partial name="_Images" model="images" />
                <input asp-action="removeImage" asp-controller="realEstate" asp-route-imageId="@images.ImageId" type="submit" class="btn btn-danger" value="Remove Image" />
            }
        </div>

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="realEstate" type="submit" class="btn btn-success" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="realEstate" type="submit" class="btn btn-success" value="Create" />
        }

        <a asp-action="Index" asp-controller="realEstate" class="btn btn-success">Back</a>
    </form>
</div>