@model ShopTARge24.Models.Drinks.DrinkSearchViewModel

<h1>Search for a drink!</h1>

<div class="container">
    <form asp-action="SearchDrink" method="post">
        <div class="container">
            <div class="form-group col-md-5 mt-6">
                <h6>Type in the name of the cocktail:</h6>
                <input asp-for="Drink" class="form-control" />
                <span asp-validation-for="Drink" class="text-danger"></span>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary mt-2">Search</button>
            </div>
        </div>
    </form>
</div> 